.container {
    position: relative;
    border: 2px solid teal;
    height: 400px;
    width: 400px;
    color: white;
    background-color: black;
}


.container div {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0.75;
}

#block1 {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
}

#block2 {
    top: 40px;
    left: 40px;
    background-color: green;
}

#block3 {
    top: 70px;
    left: 70px;
    background-color: yellow;
    color: blue;
}

#block4 {
    top: 100px;
    left: 100px;
    background-color: blue;
}
